.nav
{
  float: right;
  list-style: none;
  padding: 10px;
}
.nav li
{
  float: left;
  margin : 0 0 0 10px;
  width: 150px;
  height: 90px;
  border: 2px solid #494949;
  border-radius: 30px;
}
.nav li>a
{
  font: 1em helvetica arial sans-serif;
  line-height: 2em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  border-radius: 30px;
}
.nav a:hover
{
  color:#7f7e7e;
  background: #fcfcfc
}
