.nav
{
  float: right;
  list-style: none;
  padding: 10px;
}
.nav li
{
  float: left;
  margin : 0 0 0 10px;
  width: 150px;
  border: 1px solid #555655;
}
.nav li>a
{
  font: 1em helvetica arial sans-serif;
  line-height: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}
.nav a:hover
{
  color:#fff;
  background: #f2f2f2
}
